/* .mv-at-header {
    font-weight: bold;
}

.mv-atomselect-table {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;

    background-color: var(--light-color-3);
    color: var(--dark-color-3);
    border: 1px solid var(--fwd-color-3);

    --tab-element-height: 30px;

    max-height: calc(var(--tab-element-height)*10);
    overflow-y: auto;
}

.mv-atomselect-table span {
    border-left: 1px solid var(--dark-color-1);
    padding-left: 5px;
    box-sizing: border-box;
    height: var(--tab-element-height);
}

.mv-atomselect-table .mv-at-header {
    border-bottom: 1px solid var(--dark-color-1);    
    padding-bottom: 2px;
}

.mv-atom-table {

    background-color: var(--light-color-3);
    color: var(--dark-color-3);
    border: 1px solid var(--fwd-color-3);    
    border-radius: 5px;

}

.mv-atom-table th {
    padding: 10px;
    border-right: 1px solid var(--dark-color-1);
    border-bottom: 1px solid var(--dark-color-1);
}

.mv-atom-table th:last-child {
    border-right: none;
}

.mv-atom-table td {
    padding: 10px;
    border-right: 1px solid var(--dark-color-1);    
}

.mv-atom-table td:last-child {
    border-right: none;
}

.mv-atom-table select {
    border-color: var(--dark-color-1);
}

.mv-atom-table .mv-textfield {
    border-color: var(--dark-color-1);
}

.mv-atom-table .cell-content {
    display: flex;
    align-items: center;
} */