.mv-button {
  min-width: 70px;

  color: var(--bkg-color-3);
  background-color: var(--fwd-color-3);
  transition: background-color 0.2s;
}

.mv-button:hover {
  background-color: var(--fwd-color-2);
}

.mv-button:active {
  background-color: var(--fwd-color-3);
}
