.mv-button {
  min-width: 70px;

  color: var(--dark-color-3);
  background-color: var(--light-color-3);
  border-color: var(--fwd-color-3);
  transition: background-color 0.2s;
}

.mv-button:hover {
  background-color: var(--light-color-2);
}

.mv-button:active {
  background-color: var(--light-color-3);
}

.mv-button:disabled {
  color: var(--mid-color-2);
}

.mv-button:disabled:hover {
  background-color: var(--light-color-3);
}
