.mv-lselect {

    background-color: var(--light-color-3);
    color: var(--dark-color-3);
    border: 1px solid var(--fwd-color-3);

    --lselect-opt-height: 40px;

    height: calc(var(--lselect-opt-height)*5);

    overflow-y: auto;
}

.mv-lselect-opt {
  height: var(--lselect-opt-height);
  font-size: 1.1em;
  box-sizing: border-box;
  min-width: 150px;
  color: var(--dark-color-3);
  background-color: var(--fwd-color-3);
  transition: background-color 0.2s;

  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 30px auto 30px;
}

.mv-lselect-opt:hover {
  background-color: var(--light-color-2);
}

.mv-lselected {
  background-color: var(--light-color-1);    
}

.mv-lselected:hover {
  background-color: var(--light-color-1);    
}