.mv-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;    

    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--overlay-color);
}

.mv-modal-overlay.mv-modal-hidden {
    display: none;
}

.mv-modal {
    color: var(--fwd-color-1);
    background-color: var(--bkg-color-1);

    min-width: 30vw;
    min-height: 30vh;
    max-width: 100vw;
    max-height: 100vh;
    
    box-shadow: 0 2px 5px var(--fwd-color-3);

    resize: both;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:not(.mv-modal-overlay) > .mv-modal {
    position: fixed;
    top: 100px;
    left: 100px;

    z-index: 9999;
}

.mv-modal-resizable {
    resize: both;
    overflow: hidden;
}

.mv-modal-title {
    padding: 10px 0px;
    border-bottom: 1px solid var(--fwd-color-1);
    margin-bottom: 10px;

    font-weight: bold;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.mv-modal-draggable .mv-modal-title {
    cursor: move;
}

.mv-modal-title svg {
    cursor: pointer;
}

.mv-modal-content {
    display: grid;
    align-items: center;
    justify-content: center;
    max-height: 70vh;
    overflow-y: auto;
}

.mv-modal-resizable .mv-modal-content {
    overflow: auto;    
}

.mv-modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}