.mv-radiogroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  --check-color: var(--ms-color-2);
}

.mv-radiogroup > .mv-radio {
  margin-left: 1rem;
}

.mv-radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mv-radio input {
  opacity: 0;
  width: 0px;
  box-sizing: border-box;
  margin: 0;
}

.mv-radio label {
  width: 3px;
  height: 3px;

  margin-right: 8px;
  padding: 5px;

  border: 3px solid var(--fwd-color-2);
  background-color: var(--fwd-color-2);
  border-radius: 10px;
}

.mv-radio :focus + label {
  outline: none;
}

.mv-radio :checked + label {
  background-color: var(--check-color);
}
