.mv-sshot {
    color: var(--light-color-2);

    position: fixed;
    bottom: 20px;
    left: 20px;

    font-size: 2em;
    cursor: pointer;

    opacity: 0.5;
    transition: opacity 0.5s;

    display: flex;
    align-items: center;
}

.mv-sshot:hover {
    opacity: 0.9;
}

.mv-sshot-text {
    font-size: 0.5em;
    margin-left: 5px;

    display: none;
}

.mv-sshot:hover .mv-sshot-text {
    display: block;
}

.mv-sshot a {
    display: none;
}