.theme-dark {

  --dark-color-1: #333333;
  --dark-color-2: #222222;
  --dark-color-3: #111111;

  --mid-color-1: #777777;
  --mid-color-2: #9b9b9b;
  --mid-color-3: #aaaaaa;

  --light-color-1: #cccccc;
  --light-color-2: #ededed;
  --light-color-3: #fafafa;

  --bkg-color-1: var(--dark-color-1);
  --bkg-color-2: var(--dark-color-2);
  --bkg-color-3: var(--dark-color-3);

  --fwd-color-1: var(--light-color-1);
  --fwd-color-2: var(--light-color-2);
  --fwd-color-3: var(--light-color-3);

  --ms-color-1: #ff9922;
  --ms-color-2: #ff8000;
  --ms-color-3: #df6000;

  --efg-color-1: #2299ff;
  --efg-color-2: #0080ff;
  --efg-color-3: #0060df;

  --dip-color-1: #22ff99;
  --dip-color-2: #00ff80;
  --dip-color-3: #00df60;

  --jcoup-color-1: #ff2299;
  --jcoup-color-2: #ff0080;
  --jcoup-color-3: #df0060;

  --err-color-1: #ff3322;
  --err-color-2: #cc2200;
  --err-color-3: #aa1000;
}

.theme-light {

  --dark-color-1: #333333;
  --dark-color-2: #222222;
  --dark-color-3: #111111;

  --mid-color-1: #777777;
  --mid-color-2: #666666;
  --mid-color-3: #555555;

  --light-color-1: #bbbbcc;
  --light-color-2: #dadae5;
  --light-color-3: #ffffff;

  --bkg-color-1: var(--light-color-1);
  --bkg-color-2: var(--light-color-2);
  --bkg-color-3: var(--light-color-3);

  --fwd-color-1: var(--dark-color-1);
  --fwd-color-2: var(--dark-color-2);
  --fwd-color-3: var(--dark-color-3);

  --ms-color-3: #ff9922;
  --ms-color-2: #ff8000;
  --ms-color-1: #df6000;

  --efg-color-3: #2299ff;
  --efg-color-2: #0080ff;
  --efg-color-1: #0060df;

  --dip-color-3: #22ff99;
  --dip-color-2: #00ff80;
  --dip-color-1: #00df60;

  --jcoup-color-3: #ff2299;
  --jcoup-color-2: #ff0080;
  --jcoup-color-1: #df0060;

  --err-color-3: #ff3322;
  --err-color-2: #cc2200;
  --err-color-1: #aa1000;
}
