.App {
  text-align: center;
}

.theme-red {
  --bkgc: #ad5633;
}

.theme-blue {
  --bkgc: #2b75a0;
}

.themedThing {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--bkgc);
}
