.App {
  text-align: center;
}

.theme-red {
  --bkgc: #ff0000;
}

.theme-blue {
  --bkgc: #0000ff;
}

.themedThing {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--bkgc);
}